<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>苏61书</Template><Company>qc</Company><Pages>29</Pages><Words>13310</Words><Characters>15666</Characters><Lines>140</Lines><Paragraphs>39</Paragraphs><TotalTime>8</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>17040</CharactersWithSpaces><Application>WPS Office_11.1.0.14309_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>0</DocSecurity></Properties>